body {
    margin: 0;
    font-size: 16px;
    background: url(./field.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    letter-spacing: 0.1em;
}

p {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #1976d2;
}

.top-bar a {
    font-family: sans-serif;
}

.top-bar {
    padding: 20px 250px;
    margin-bottom: 50px;
}

.top-bar::after {
    content: '';
    display: block;
    clear: both;
}

.top-bar-right {
    float: right;
    margin-right: 100px;
}

.top-bar-right:last-child {
    margin-right: 0;
}

.top-bar a,
.nav a {
    margin: 0 24px;
}

.form {
    padding: 10px;
}

.addCropBtn {
    padding-left: 390px;
}

.cropDetailsBlock {
    padding: 35px;
}

.headP {
    font-size: 26px;
}

.customizeInfoP {
    margin-bottom: -15px
}

.card-heading p {
    padding-top: 24px;
    font-size: 24px;
}

.containerSignUp {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    line-height: 23px;
    letter-spacing: 1.2px;
    background-color: rgba(255,255,255,0.1);
    color: #ffffff;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    line-height: 23px;
    letter-spacing: 1.2px;
    background-color: rgba(255,255,255,0.1);
    color: #ffffff;
}

.button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: rgba(50, 255, 52, 0.62);
}

.homeBlock {
    color: white;
    text-align: left;
    line-height: 23px;
    letter-spacing: 1.2px;
    margin: 18px;
}

.homeBlockHeading {
    font-size: 25px;
}

.homeBlockHeading2 {
    font-size: 21px;
    margin-bottom: -9px;
}

.container img {
    width: 434px;
    background: #ffffff;
}

.homeBlockHeadingBig {
    text-align: center;
    font-size: 43px;
    line-height: 44px;
    margin: -1px;
}

.homeBlock2 {
    width: 600px;
    margin-left: 500px;
    line-height: 30px;
}
